@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);

a {
	text-decoration: none;
}
#index {
	background-image: url(Back.png);
	
	
}

img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 40%;
	flex-wrap: wrap;
	margin-top: 20px;
	background-image: url(Back.png);
}

#registros {
    justify-content: center;
	flex-wrap: wrap;
	background-image: url(Back.png);
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 50%;
       
}

#register {
	width: fit-content;
	margin: 0 auto;
}


#face {
	margin-left: 0px;
	margin-right: 0px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	width: 350px;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

#boton {
	background-color: #FA6900;
	color: #fff;
	margin-left: 5px;
	border: 1px solid #FA6900;
}

#boton a {
	color: #fff;
}

#entrar {
    font-family: 'Arimo', sans-serif;
    color: #FA6900;
}

#ayuda {
    color: #FA6900;
    font: bolder;
}

/* Fin Login */

/*basic reset*/
* {margin: 0; padding: 0;}

html {
    height: 100%;
    background-image: url(Back.png);
    
	

}

body {
	font-family: montserrat, arial, verdana;
	background-image: url(Back.png) !important;
    
}
/*form styles*/
#msform {
	width: 500px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	flex-wrap: wrap;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #FA6900;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #FA6900;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	margin-left: 50px;
}
#progressbar li {
	list-style-type: none;
	color: #FA6900;
	text-transform: uppercase;
	font-size: 15px;
	width: 30%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #FA6900;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #FA6900;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #FA6900;
	color: white;
}

/*Nav bar*/

#logohome {
	width: 150px;
	background: #F9F9F9; 
	margin-bottom: 50px;
	margin-right: 50px;
}

#barra {
	height: 100px;
}

.titulo {
	padding: 20px 10px 20px 10px;
	text-align: center;
	background-image: url(Back.png);
	color: #FA6900;
	margin-bottom: 0px;
}

#principal {
	background-image: url(Back.png);
	align-content: center;
	  
	
}



#carrusel {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	align-content: center;
	background-image: url(Back.png);
	box-shadow: 5px 5px #ABD7D3;
	border: 5px;
	border-color: #FA6900;
	
  	
	
}

.nombreperro {
	
	color: #FA6900;
	top: 0;
  	left: 0;
  	min-width: 100%;
  	height: 100%;
}

.nav-link a {
	color: #FA6900;
}

#videos {
	background-image: url(Back.png);
	
	margin-bottom: 30px;
	
}

h1 {
	background-image: url(Back.png);
	text-align: center;
	color: #FA6900 !important;
	 
}

#piedepagina {
	background-color: #FAF9F8;
	height: 150px;
}

#llamanos {
	color: #FA6900;
}

#logohome2 {
	width: 150px;
	background: #F9F9F9; 
	margin-top: 40px;
    
	flex-wrap: wrap;
	
}

/*redes*/

.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus {
	color: white;
}

#redess {
	font-size: 20px;
	background-color: #F9F9F9;
	padding: 0px;
	text-align: center;
	height: 80px;
}

/*Carrusel*/

section{
    padding:60px 0px;
	font-family: 'Raleway', sans-serif;
	background-image: url(Back.png);
	flex-wrap: wrap;

}

#titulo {
    color: #FA6900;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom:30px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#noticias {
	font-size:13px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif; 
}

#news {
	color: #9AD7D2;
	font-family: Arial, Helvetica, sans-serif; 
}

#descrip {
	color: #FA6900;
}

.ion-minus{
    padding:0px 10px;
}

#blog{
	background-color:#f6f6f6;
}

#blog .carousel-indicators {
    bottom: -60px;
}

#blog .carousel-indicators li{
    background-color: #5db4c0;
    height: 13px;
    width: 13px;
    margin: 5px;
}

#blog .carousel-indicators li.active{
    background-color: #888383;
}

#blog .card-block{
    padding: 10px;
}

#blog .card{
    background-color: #FA6900;
    border: 1px solid #FA6900;
	margin: 20px 0px;
	box-shadow: 2px 2px 2px 2px #FA6900;
}

.btn.btn-default {
    background-color: #5db4c0;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 13px 20px;
    font-size: 13px;
	font-weight: 600;
	
}

#fotoperro {
	height: 260px;
}

