a {
    text-decoration: none;
}
body{
    background-image: url("background.png");
}

h2{
    text-align: center;
    color: #F38630;
}

.item{
    width: 400px;
    height: 450px;
    margin: 10px 10px;
    background-color: #F38630;
    box-shadow: 4px 4px 5px grey;
    border: 1px solid #F38630;
    color: white;
    padding: 10px 10px;
}

.item1{
    width: 400px;
    height: 200px;
    margin: 10px 10px;
    background-color: #F38630;
    box-shadow: 4px 4px 5px grey;
    border: 1px solid #F38630;
    color: white;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
}


.pic{
    display: block;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid #69D2E7;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
.botonc{
    float: right;

}

#titleAdd{
    text-align: center;
    margin: auto;
}

h5{
    color: #69D2E7;
}

.btn{
    background-color: #69D2E7;
}

a {
    text-decoration: none;
}

.nav-link a {
    color: #FA6900;
}

#logohome {
    width: 150px;
    background: #F9F9F9; 
    margin-bottom: 50px;
    margin-right: 50px;
}

#barra {
    height: 100px;
}

#boton {
    background-color: #FA6900;
    color: #fff;
    margin-left: 5px;
    border: 1px solid #FA6900;
}

#boton a {
    color: #fff;
}

#custom_carousel .item {

    color:#000;
    background-color:#eee;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:3px solid orange;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}

.card-deck{
    margin-top: 30px;
}

.card-title{
    color: #FA6900;
}

/* .card-img-top{
    width: 400px;
    height: 430px;
} */

.titleblog{
    margin-top: 15px;
    text-align: center;
    color: #F38630;
}

.card{
    box-shadow: 4px 4px 5px grey;
}

